body{
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
     display: flex;
     margin-bottom: 180px;
     max-width: 1475px;
            .black-box{
                background: black;
                background-size: cover;
                width: 540px;
                height: 840px;
            }           
    .header-image{
        
        width: 640px;
        height: 850px;
        background:url(img/gallery.jpg) center;
        background-size: cover;

    }
    h1{
        mix-blend-mode: exclusion;
        font-family:Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 76px;
        line-height: 88px;
        color: white;
        
        position: absolute;
        left: 205px;
        top: 100px;
    }
    p{
        width: 350px;
        height: 160px;
        font-family:Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #444444;

        position: absolute;
        left: 1100px;
        top: 190px;
    }
    button:hover{
        .leftbutton{
            background: lightsalmon;
        }
        .rightbutton{
            background: black;
        }
    }
    button{
        background:none;
        border: none;
        position: absolute;
        display: flex;
        width: 300px;
        height: 72px;
        padding: 0;
        margin: 0;

        left: 1100px;
        top: 450px;
        .leftbutton{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family:Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 15px;
            line-height: 24px;

            width: 230px;
            height: 72px;
            color: white;
            background: black;
        }
        .rightbutton{
            display: flex;
            align-items: center;
            justify-content: center;
            
            font-size: xx-large;
            color: white;
            background: lightsalmon;

            width: 70px;
            height: 72px;
        }
    }
}
main{
    article{
        display: flex;
        justify-content: center;
        
        .images-box{
            background: url(img/museum1.jpg) center;
            background-size: cover;
            width: 635px;
            height: 400px;
            margin-bottom: 30px;
        }
        .text-box{
            max-width: 350px;
            h1{
                max-width: 350px;
                font-family:Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 60px;
                color: black;
            }
            p{
                max-width: 350px;
                font-family:Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 32px;
                color: #444444;
            }
        }
        .article1{
            width: 1110px;
            display: flex;
            justify-content: space-between;
        }
        .article2{
            width: 1110px;
            display: flex;
            justify-content: space-between;
            .images-box{
                background: url(img/museum2.jpg) center;
                background-size: cover;
                width: 635px;
                height: 720px;
            }
            .images-box2{
                background: url(img/museum3.jpg) center;
                background-size: cover;
                width: 445px;
                height: 313px;
                margin-bottom: 30px;
            }
            .black-box{
                background: black;
                width: 445px;
                height: 377px;
                display: flex;
                justify-content: center;
                color: white;
                h1{
                    font-family:Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 60px;
                }
                p{
                    font-family:Arial, Helvetica, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 30px;
                }
                .text-box-2{
                    width: 350px;
                }
            }

        }
    }
}
footer{
    margin-top: 200px;
    max-width: 100%;
    .footer{
        background: black;
        height: 244px;
        display: flex;
        align-items: center;
        .footer-text{
            color: white;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            p{
                width: 450px;
                font-family:Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

@media(max-width:1445px){
    header{
        .black-box{
            width: 450px;
        }
        .header-image{
            width: 540px;
        }
        h1{
            left: 120px;
        }
        p{
            left: 910px;
        }
        button{
            left: 910px;
        }
    }
}

@media(max-width:1260px){
    header{
        .black-box{
            width: 350px;
        }
        .header-image{
            width: 550px;
        }
        h1{
            left: 120px;
        }
        p{
            left: 810px;
        }
        button{
            left: 810px;
        }
    }
}

@media(max-width:1160px){
    header{
        .black-box{
            width: 0px;
        }
        .header-image{
            width: 450px;
        }
        h1{
            mix-blend-mode: normal;
            color: black;
            left: 400px;
            font-size: 50px;
            line-height: 80px;
        }
        p{
            top: 390px;
            left: 400px;
        }
        button{
            top: 650px;
            left: 400px;
        }
    }

    main{
        .article1{
            justify-content: space-evenly ;
            .images-box{
                width: 390px;
            }
        }
        .article2{
            justify-content: space-evenly ;
            .images-box{
                width: 500px ;
            }
            .images-box2{
                width: 240px;
            }
            .black-box{
                width: 240px ;
                .text-box-2{
                    width: 200px ;
                }
                h1{
                    font-size: 28px ;
                    line-height: 30px ;
                }
                
            }
        }
    }
}

@media(max-width:760px){
    header{
        display: flex;
        flex-direction: column;
        
        
        .black-box{
            display: none ;
        }
        .header-image{
            width: 320px ;
            height: 240px ;
        }
        h1{
            position: static;
            padding-left: 10px;
        }
        p{
            max-width: 310px;
            position: static;
            padding-left: 10px;
        }
        button{
            position: static;
            padding-left: 10px;
        }
    }
    main{
        article{
            
            .article1{
                flex-direction: column-reverse;
                align-items: center;
                .images-box{
                    width: 310px ;
                }
            }
            .article2{
                flex-direction: column;
                align-items: center;
                .images-box{
                    width: 310px ;
                }
                .images-box2{
                    width: 310px ;
                }
                .black-box{
                    width: 310px ;
                    align-items: center;
                    .text-box-2{
                        width: 300px ;
                        
                    }
                }
            }
        }
    }
    footer{
        .footer-text{
            display: block ;
            padding-left: 10px;
            p{
                font-size: 16px ;
                width: 310px ;
            }
        }
    }
}

