  * {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .glassCont {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
  
  input::placeholder {
    color: #fff;
  }
  
  input:focus {
    outline: none;
  }
  
  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    color: white;
  }
  
  .option a {
    text-decoration: none;
    color: white;
  }
  
  button {
    width: 100%;
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
  }
  
  p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
  }
  
  p a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
  }
  
  .register {
    font-weight: bold;
  }  